*.dat
*.o
*.pyc
*.load
*.mat
*.sw
*.stz
*.surf
*.csv
*.png
*.pdf
*.aux
*.log
*~
/problems/*.in
!/problems/test2d.in
/problems/*.py
!/problems/input_example.py
/problems/*.tar.gz
/problems/
/fdfault
.DS_Store
/docs/_build/