*.dat
*.o
*.pyc
*.load
*.mat
*.sw
*.stz
*.surf
*.csv
*~
*.pdf
/data/cvws_upload.pl
/data/cvws_upload_doc.txt
/data/scec_uploads/*
/problems/*.in
!/problems/test1d.in
/problems/*.py
!/problems/input_example.py
/problems/*.tar.gz
/problems/
/data/*.m
/data/*.py
!/data/python_example.py
/fdfault
.DS_Store